@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("../styles/fonts.css");
@import url("../styles/emblaCarousel.css");

body {
  font-family: "Trebuchet MS", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .title {
    @apply font-titillium text-2xl font-bold;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
